@import "tailwindcss";

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: palegoldenrod;
  padding: 30px;
}

.center-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.window {
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  border: 3px solid rgba(0, 0, 0, 0.08);
  box-shadow:
    0 10px 0 rgba(0, 0, 0, 0.06),
    0 22px 30px rgba(0, 0, 0, 0.06);
}
.titlebar {
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.window-body {
  padding: 48px 64px;
  text-align: center;
}

.hero-title {
  font-size: 48px;
  font-weight: 350;
  margin: 0;
}
.muted {
  color: #444;
}
.accent {
  color: #000;
  font-weight: 500;
}
.hero-sub {
  font-size: 20px;
  color: #444;
  margin: 16px 0 32px;
}
.icon-row {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  margin-top: 40px;
}
.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
}
.icon-box {
  width: 72px;
  height: 72px;
  border-radius: 12px;
  /* border: 2px solid rgba(0, 0, 0, 0.1); */
  display: grid;
  place-items: center;
  font-size: 28px;
  background: #fff;
}

.icon-box img {
  object-fit: contain;
}

.icon-lable {
  margin-top: 8px;
  font-size: 12px;
  color: #555;
  font-family: "Courier New", Courier, monospace;
}
.socials {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 16px;
  position: relative;
  z-index: 1;
}

.social {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: white;
  display: grid;
  place-items: center;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.social img {
  object-fit: contain;
}

.social > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social:hover {
  transform: translateY(-2px);
  border-color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social:active {
  transform: translateY(0) scale(0.95);
}
/* hover icon*/
/* Smooth movement */
.icon-btn:hover .icon-box {
  transform: translateY(-4px);
  border-color: #ff8a00; /* highlight border */
  transition: 0.2s ease;
}

.icon-btn:hover .icon-label {
  color: #ff8a00; /* highlight text */
  transition: 0.2s ease;
}

/* Optional: tiny button press animation */
.icon-btn:active .icon-box {
  transform: translateY(-1px) scale(0.97);
}

.icon-btn:hover .icon-box {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}
/* hover icon*/
